In [4]:
import json
import pandas as pd
import os


data_path = "/mnt/data/wangshu/hcarag/HotpotQA/dataset/hotpotqa_corpus.json"

# 假设你的 JSON 数据保存在一个名为 data.json 的文件中
with open(data_path, 'r', encoding='utf-8') as file:
    data = json.load(file)

data['Fred Gehrke']

['Clarence Fred Gehrke (April 24, 1918 – February 9, 2002) was an American football player and executive.',
 ' He played in the National Football League (NFL) for the Cleveland / Los Angeles Rams, San Francisco 49ers and Chicago Cardinals from 1940 through 1950.',
 ' To boost team morale, Gehrke designed and painted the Los Angeles Rams logo in 1948, which was the first painted on the helmets of an NFL team.',
 ' He later served as the general manager of the Denver Broncos from 1977 through 1981.',
 ' He is the great-grandfather of Miami Marlin Christian Yelich']

In [9]:
title_set = set()
all_title_list = []
for k, v in data.items():
    if k not in title_set:
        all_title_list.append({"title": k, "content": "\n\n".join(v)})

    title_set.add(k)

corpus_df = pd.DataFrame(all_title_list)
corpus_df["id"] = range(corpus_df.shape[0])
print(corpus_df.shape)
corpus_df.head(2)

(9221, 3)

           title                                            content  id
0    Fred Gehrke  Clarence Fred Gehrke (April 24, 1918 – Februar...   0
1  Manny Machado  Manuel Arturo Machado (] ; born July 6, 1992) ...   1

In [10]:
save_path = "/mnt/data/wangshu/hcarag/HotpotQA/dataset/rag_hotpotqa_corpus.json"
corpus_df.to_json(save_path, orient='records', lines=True)

In [2]:
# 构建段落字符串
paragraphs = []
for player, info in data.items():
    paragraph = f"{player}:\n" + "\n".join(f" - {detail}" for detail in info)
    paragraphs.append(paragraph)

# 将所有段落合并成一个字符串
result = "\n\n".join(paragraphs)

# 打印结果
print(len(paragraphs))
print(paragraphs[0])

9221
Fred Gehrke:
 - Clarence Fred Gehrke (April 24, 1918 – February 9, 2002) was an American football player and executive.
 -  He played in the National Football League (NFL) for the Cleveland / Los Angeles Rams, San Francisco 49ers and Chicago Cardinals from 1940 through 1950.
 -  To boost team morale, Gehrke designed and painted the Los Angeles Rams logo in 1948, which was the first painted on the helmets of an NFL team.
 -  He later served as the general manager of the Denver Broncos from 1977 through 1981.
 -  He is the great-grandfather of Miami Marlin Christian Yelich

In [5]:
# 保存结果到文件
save_path = "/mnt/data/wangshu/hcarag/HotpotQA/dataset/hotpotqa_corpus.txt"
with open(save_path, 'w', encoding='utf-8') as output_file:
    output_file.write(result)

print("结果已保存到 output.txt")

结果已保存到 output.txt