In [1]:
import pandas as pd

file_qa = "/mnt/data/wangshu/hcarag/HotpotQA/dataset/hotpotqa.json"
qa_df_raw = pd.read_json(file_qa)

qa_df_raw.head(2)

,_id,answer,question,supporting_facts,context,type,level
0,5ae7882b554299540e5a55dd,great-grandfather,What relationship does Fred Gehrke have to the...,"[[Fred Gehrke, 4], [Christian Yelich, 1]]","[[Fred Gehrke, [Clarence Fred Gehrke (April 24...",bridge,hard
1,5ae678915542996d980e7b70,Chickamauga Wars,What was the other name for the war between th...,"[[Battle of Hightower, 0], [Cherokee–American ...","[[Waterloo Bay massacre, [The Waterloo Bay mas...",bridge,hard

In [ ]:
qa_df = qa_df_raw.copy()
qa_df = qa_df[["question", "answer"]]
qa_df.columns = ["question", "answers"]


def process_gb_answer(x):
        if isinstance(x, list):
            return "|".join(map(str, x))
        elif isinstance(x, str):
            return x
qa_df["label"] = qa_df["answers"].apply(process_gb_answer)


file_save_path = "/mnt/data/wangshu/hcarag/HotpotQA/dataset/eval_hotpot_qa.json"
qa_df.to_json(file_save_path, orient="records", lines=True)
qa_df.head(2)

,question,answers,label
0,What relationship does Fred Gehrke have to the...,great-grandfather,great-grandfather
1,What was the other name for the war between th...,Chickamauga Wars,Chickamauga Wars

In [8]:
ans_split = qa_df_raw['answer'].str.split(' ')
average_len = sum(len(i) for i in ans_split) / len(ans_split)
average_len

1.3184663536776213